@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #333333;
} 
.main {
    height: 100vh;
    /* padding: 10px ; */
}
.main section {
    padding: 10px;
    height: 90%;
    border: 1px solid #c1bbbb;
}
.main:first-child section {
    gap: 20px;
}
.box {
    border-radius: 10px 0px 0px 10px;
}
.box2 {
    /* border: 1px solid #c1bbbb; */
    border-radius: 0px 10px 10px 0px;
}
.title {
    width: 60%;
}
.input-box {
    border: 1px solid #c1bbbb;
    /* padding: 6px 10px 6px 6px; */
    margin-bottom: 10px;
    /* border-radius: 4px; */
}
.input-box:focus-within {
    border-left: 4px solid #fcc822;

}
form {
    font-family: "Roboto", Poppins;
}
form input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    color: #fcc822;
    background: transparent;
    font-size: 16px;
    padding: 0;
}
form input::placeholder {
    color: #fcc822;
}
.input-box span {
 font-size: 18px;
 font-weight: 400;
}
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparent;
    position: relative;
    top: 6px;
    margin-left: 10px;
}

input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fcc822;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appear 0.8s;
}

label {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.form-check {
    margin-top: 20px;
}
.Forget-link {
    color: #333333;
    text-decoration: none;
    font-size: 18px;

}
.Forget-link:hover {
    color: #fcc822;
    text-decoration: underline;
}
.checkbox {
    accent-color: #fcc822 !important;
    width: 20px !important;
    height: 20px !important;
}
.checkbox:checked {
    background-color:#fcc822 !important;
    border: #fcc822;
}
.checkbox:hover {
    color: #fcc822 !important;
}
.form-check-label {
    font-size: 18px !important;
    margin-left: 6px;
}
.signup-btn {
    border: none;
    outline: none;
    background: #fcc822;
    color: #ffffff;
    width: 60%;
    height: 50px;
    /* padding: 10px 30px; */
    font-size: 24px;
    /* transition: 0.5 ease-in-out; */
    border-radius: 4px;

}
.signup-btn:hover {
    background: transparent;
    border: 2px solid #fcc822;
    color: #fcc822;
}
.social-login-link {
    font-size: 20px;
    /* margin-top: 10px; */
}
.social-link {
    color: #fcc822;
    display: flex;
    gap: 15px;
    /* justify-content: center; */
    align-items: center;
}
.social-link i {
    color: #fcc822;
    font-size: 24px;
}
.signup-side-img {
    width: 400px;
    height: 560px;
    object-fit: contain;
    /* margin-left: 100px; */
}


